@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;600;700;800&family=Inter:wght@400;500;700&display=swap');

.container {
  @apply w-full max-w-7xl px-4 md:px-6 mx-auto;
}

.header-btn {
  @apply bg-primary text-white font-extrabold text-xs lg:text-[13px] uppercase italic px-4 py-2 lg:px-5 lg:py-3 font-inter h-fit hover:bg-secondary transition-colors;
}

.menu-link {
  @apply uppercase font-extrabold italic text-black text-[15px] font-inter px-4 border-b-[5px] border-transparent pb-3 flex hover:text-primary transition-colors;
  &.active {
    @apply border-primary cursor-default hover:text-black;
  }
}

.mobile-menu-link {
  @apply uppercase font-extrabold italic text-black text-[15px] font-inter flex hover:text-primary transition-colors;
}

.splash {
  @apply flex flex-col w-full justify-end md:justify-center relative h-[358px] md:h-[542px] lg:h-[682px];
  &.has-overlay {
    @apply before:content-[''] before:inset-0 before:z-[1] before:bg-black/50 before:absolute
  }
}

.unordered-list {
  @apply flex flex-col gap-1 list-inside list-square marker:text-primary marker:mr-1 text-sm lg:text-base;
}

.btn-primary {
  @apply text-sm font-semibold text-white bg-primary-800 px-5 py-2 rounded-full self-start flex gap-2.5 items-center hover:bg-secondary transition-colors;
}

.services-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-4 gap-2 px-2 mb-2 mt-6;
}

.services-grid-item {
  @apply px-6 pl-32 md:pl-40 border-primary-700 border min-h-[166px] sm:min-h-[240px] flex items-center gap-3 md:gap-10 overflow-hidden hover:bg-primary-800 hover:text-white transition-colors;
}

.h2 {
  @apply font-semibold uppercase text-[28px] md:text-[44px] leading-tight;
}

.review-card {
  @apply bg-white-100 p-4 md:p-6 flex flex-col gap-6 md:gap-9 relative z-[2] before:content-[''] before:w-[68px] before:h-[68px] before:absolute before:top-0 before:left-0 before:z-[1] before:border-t before:border-l before:border-primary-700 after:content-[''] after:w-[68px] after:h-[68px] after:absolute after:bottom-0 after:right-0 after:z-[1] after:border-b after:border-r after:border-primary-700;
}

.contact-section {
  @apply bg-gradient-to-br from-[#E2EDFF] to-white min-h-[707px] lg:min-h-[797px] before:content-[''] relative before:absolute before:inset-0 z-0 before:bg-[url('../img/contact-bg-m.png')] before:bg-cover before:bg-bottom lg:before:bg-right sm:before:bg-[url('../img/contact-bg-t.png')] lg:before:bg-[url('../img/contact-bg-d.jpg')] lg:flex lg:flex-col lg:justify-center;
}

.footer-link {
  @apply font-inter text-sm lg:text-[15px] font-extrabold uppercase italic hover:text-primary-600 hover:border-b hover:border-primary-600 leading-snug transition-colors;
}

.service-slider-menu {
  @apply flex flex-row lg:flex-col overflow-x-auto bg-secondary-900 lg:justify-center lg:basis-[320px] lg:gap-12 lg:px-16;
}

.services-slider-menu-link {
  &.active {
    @apply text-white cursor-default;
    &:not([data-index="2"]) {
      svg path {
        fill: #fff;
      }
    }
    &[data-index="2"] {
      svg path {
        stroke: #fff;
      }
    }
  }
}

.hotspot {
  @apply w-[39px] h-[39px] rounded-full bg-primary-700 before:content-[''] before:w-[17px] before:h-[17px] before:bg-white before:rounded-full flex items-center justify-center absolute focus:w-[75px] focus:h-[75px] active:w-[75px] active:h-[75px] z-[1] transition-all;
}

.tooltip {
  @apply bg-white shadow-lg rounded-xl p-5 max-w-[325px] z-10;
  &:not([data-show]) {
    @apply hidden;
  }
}

.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow: hidden;
}

.form-control {
  @apply focus:border-secondary border-gray-300 font-inter;
}